*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 0;
  background: url('../images/NOEMI_mq_desktop.jpg');
  width: 1660px;
  height: 3508px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.menu-list-item + .menu-list-item {
  margin-left: 34px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.welcome-title {
    margin: 0 auto;
    padding: 104px 0;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 75px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}


.header {
  background: url("../images/banner-bg.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  padding: 28px 0 22px;
}

.header:after {
  content: "";
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 3;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 4;
    position: relative;
}

.header-logo,
.header-menu{
  flex-shrink: 0;
}

.menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

a {
  text-decoration: none;
}

.flex:nth-child(n+2) {
  margin-top: 68px;
}

.flex-container {
  box-sizing: border-box;
  padding: 0;
}

.flex-info {
  box-sizing: border-box;
  margin-left: 30px;
}

.flex {
  display: flex;
}

.flex-tags-item + .flex-tags-item { 
   margin-left: 16px;
}

.flex-tags-link0 {
  font-size: 12px;
  color: #888888;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.flex-tags-link1 {
  font-size: 12px;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.card-name1 {
  font-size: 20px;
  line-height: 24px;
  color: #0f0d0e;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.flex-content {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0 6px;
    font-size: 20px;
    line-height: 29px;
    color: #0f0d0e;
}

.title1 {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0 6px;
    line-height: 29px;
    color: #0f0d0e;
}

.divider::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 15px auto 25px;
}

.divider-red::after {
  background-color: #b59f5b;
}

.post-name1 {
  width: 180px;
  text-align: start;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.postss:nth-child(n+2) {
  margin-top: 60px;
}

.posts:nth-child(n+2) {
  margin-top:30px;
}

.post {
  box-sizing: border-box;
  width: 70px;
  padding: 0;
}

.post-info {
  box-sizing: border-box;
  margin-left: 18px;
  line-height: 1px;
}

.info {
  width: 1170px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 16px auto 0;
}

.infor {
  box-sizing: border-box;
  width: 780px;
}

.inform {
  box-sizing: border-box;
  width: 270px;
}

.button {
  width: 48px;
  height: 48px;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: right 20px center;
  background-color: #b59f5b;
  box-sizing: border-box;
  border: none;
}

.field {
  width: 270px;
  height: 48px;
  background-color: #f4f7f6;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.search-button {
  width: 270px;
  margin-top: 60px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.search-group {
  box-sizing: border-box;
  width: 222px;
}

.button1 {
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 14px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  border: none;
}

.tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 40px;
  color: #0f0d0e;
  font-weight: 700;
}

.tags-item {
  padding: 10px 0;
  border-bottom: #999999 solid 1px;
}

.tags-link {
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 47px;
}

.tags-count {
  margin-left: 4px;
  color: #b59f5b;
  font-size: 12px;
  line-height: 36px;
  font-weight: 700;
}

.flex-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.flex-tags-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  color: #b59f5b;
  font-weight: 700;
}

.hash-list { 
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  display: flex;
  flex-wrap: wrap;
} 

.hash-list-item { 
  border: 3px solid #eeeeee; 
  margin: 0 4px 4px 0;
  background-color: rgba(244,243,241,0);
} 

.hash-list-link { 
  display: block; 
  padding: 4px 8px; 
  text-decoration: none; 
  text-transform: uppercase; 
  font-size: 12px;
  color: #0f0d0e;
  font-weight: 700;
}

.footer {
  margin: 60px 0 20px;
}

.footer-wrapper {
  width: 1170px;
  padding: 0 15px;
  margin: auto;
}

.address {
  padding: 30px 0;
  background-color: #f4f7f6;
  margin-bottom: 20px;
}

.address-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-list-item:not(:first-child) {
  margin-left: 10px;
}

.address-list-link {
  display: block;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.address-list-link:hover {
  background-size: 24px;
}

.address-list-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.address-list-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.address-list-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.address-list-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.address-list-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
} 

.trends {
  padding: 57px 0 10px;
}

.trends-articles{
  display: flex;
    flex-wrap: wrap;
    margin: 26px 0;
}

.trend-article {
    width: 23%;
    flex-grow: 1;
    position: relative;
    background: #fff no-repeat center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
        padding: 14px 20px;
    height: 320px;
}

.trend-article + .trend-article {
    margin-left: 3px;
}

.trend-article:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.trend-article__wrapper {
    z-index: 2;
      padding: 27px 30px 32px;
    border: 3px #b59f5b solid;
    margin: 0 auto;
    color: #fff;
    width: 100%;
}

.trend-article__title {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
