.header {
  background-image: url("../mq-diplom2/images/jpeg/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: auto;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  
  z-index: 6;
  position: relative;
}

.header::after {
  content: "";
  background-color: #000000;
  
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 3;
}

.welcome-title {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 31px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;

  font-family: OpenSans-Bold, OpenSans-Regular, sans-serif; 
}

.button {
  width: 280px;
  height: 35px;
  background-color: #5e42b0;
  border-radius: 17px;

}

.buttons {
  font-size: 8px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

.button1 {
  font-size: 8px;
  letter-spacing: 0px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
}

.svg-logo {
  fill: #ffffff;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Bold.ttf");
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Bold.woff");
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Regular.ttf");
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Regular%20(2).woff");
  src: url("https://github.com/PetukhovaValentina/mq-diplom/blob/master/fonts/OpenSans-Regular.woff2");
}

